[submodule "cpp/lib/VulkanMemoryAllocator"]
	path = cpp/lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "cpp/lib/glslang"]
	path = cpp/lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "deps/flare-mono"]
	path = deps/flare-mono
	url = https://github.com/rGovers/flare-mono.git
[submodule "deps/flare-glfw"]
	path = deps/flare-glfw
	url = https://github.com/rGovers/flare-glfw.git
[submodule "deps/flare-glm"]
	path = deps/flare-glm
	url = https://github.com/rGovers/flare-glm.git
[submodule "deps/flare-tinyxml2"]
	path = deps/flare-tinyxml2
	url = https://github.com/rGovers/flare-tinyxml2.git
